<%- include("partials/header"); -%>
<%- include("navbar"); -%>

<section id="home-title">
  <div class="section-container">
    <%- include("jumbotron", {pageInfo: pageInfo}); %>
  </div>
</section>

<%- include("services-display"); -%>

<%- include("partials/footer"); -%>
