<%- include("partials/header"); -%>
<%- include("navbar"); -%>

<div class="section-container">
  <%- include("jumbotron", {pageInfo: pageInfo}); %>
</div>

<section id="photoGallery">
  <% photosByService.forEach(servicePhotoSet => { %>
    <div class="row justify-content-center">
      <%- include("carousel", {photos: servicePhotoSet}); -%>
    </div>
    <% }); %>
</section>

<%- include ("partials/footer"); -%>
