<%- include("partials/header"); -%>
<%- include("navbar"); -%>

<img class="background-image" src="/images/PWLmnkk.jpg" alt="">

<!-- Service title and description -->
<div class="container-fluid single-service-container center service-detail">
  <h1 style="text-decoration: underline;"><%= title %></h1>
  <h5><%= description %></h5>
</div>

<!-- Subservices of current service listed -->
<%- include("subservices"); -%>


<%- include("partials/footer"); -%>
