
<%- include("partials/header"); -%>
<%- include("navbar"); -%>

<!-- Service description and title -->
<div class="container-fluid single-service-container center">
  <h1><%= title %></h1>
  <h3><%= description %></h3>
</div>
<!-- Subservices of services listed -->
<%- include("subservices"); -%>
  
<!-- Related photos found in gallery displayed -->
<div class="container-fluid single-service-container center">
  <h3> related photos </h3>
  <div class="row center">
  <% relatedGalleryPhotos.forEach(photo => { %>
    <div class="col-lg-4 col-md-6 center">
      <img class="services-pic" src="../images/<%= photo.photo %>" alt="pic">
    </div>
  <% }); %>
  </div>
</div>
  
<%- include("partials/footer"); -%>