<%- include("header"); -%>


<% subservices.forEach(a => { %>

  <img class="background-image" src="<%=a.subImg%>" alt="<%=a.subAlt%>">



  <div class="container-fluid single-service-container center">
    <div class="row center">

      <div class="col-lg-6 center">
        <h1><%= a.subTitle %></h1>
        <h3><%=a.subDescription%></h3>
      </div>
      <div class="col-lg-6 center">
        <h1><%=description%></h1>
        <h1><%=info%></h1>
      </div>

    </div>
      </div>


<% }) %>






</div>
</div>

<%- include("footer"); -%>
