<%- include("partials/header"); -%>
<%- include("navbar"); -%>

<img class="background-image" src="/images/PWLmnkk.jpg" alt="">

<div class="section-container">
  <%- include("jumbotron", {pageInfo: pageInfo}); %>    
</div>

<!-- Service title and description -->
<section id="service">

<!-- Subservices of current service listed -->
  <section id="subservices">
    <div class="subsection-container">
      <%- include("subservices"); -%>
    </div>
  </section>
</section>

<%- include("partials/footer"); -%>
