  <!-- SERVICES -->
<section id="services">
  <div class="container-fluid">
    <h2 class="service-header"> Services </h2>
  </div>
  <div class="row">
      <%  services.forEach( function(service) { %>
      <div class="col-lg-4 col-md-6 center">
        <a href="/services/<%=service.id%>">
          <img class="service-pic" src="<%= service.img %>" alt="<%= service.alt %>">
        </a>
        <a href="/services/<%=service.id%>">
          <h5 class="service-title"><%= service.title %></h5>
        </a>
        <p class="service-description"><%= service.description %></p>
      </div>
      <% }) %>
    </div>
  </div>
</section>
